# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.S

# Vim
*.swp

src/mind

#auto generated code
src/scanner.hpp
src/scanner.cpp
src/parser.hpp
src/parser.cpp
src/location.hh
src/position.hh
src/stack.hh
parser.output
debug.sh

*.err
*.expected
*.gcc
*.my
*.actual
mind.dSYM
